* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: expanded;
    background-color: rgb(231, 228, 23);
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header {
    width: 900px;
    margin: 10px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.recipes-container {
    display: flex;
    justify-content: center;
}

.recipes {
    width: 900px;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    padding: 5px 10px;
    box-sizing: content-box;
}

.recipe {
    background-color: rgb(231, 228, 23);
    width: 900px;
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.recipe div{
    flex: 1 1 0%;
}

.recipe .details-container {
    flex: 2 1 0%;
}

.images {
    width: 280px;
    height: 280px;
}


.text {
    margin-left: 15px;
    font-size: 18px;
}

.button {
    font-size: 24px;
    color: white;
    background-color: blue;
    margin:  0 10px 5px;
    font-weight: bolder;
}

