.main {
    padding: 1rem;
    background: rgb(110, 110, 197);
    margin: 0 auto;
    width: 500px;
}

.title {
    background-color: blue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
.title.recipes {
    padding: 1rem;
    font-weight: 800;
    font-weight: 800;
    
}

.recipes {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images {
    height: 200px;
    width: 200px;
    border: 5px dotted black;
    margin: 0 1.1rem 1.1rem;
}

.images:hover {
    background: #ecedf0;
}